@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Great+Vibes&family=Montserrat&display=swap");
/* Main Fonts  */
/* Text Color Palette  */
/* Background Color Palette  */
/* Blur Palette  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: width none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
  scrollbar-color: #444;
}
html::-webkit-scrollbar-track {
  background: #f2f1f6;
}
html::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #d4c194;
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* HEADER (Logo/Navbar) */
.header {
  /* Navigation Menu Bar */
  border-bottom: 1px solid #e1e5ee;
  transition: all 0.2s linear;
  z-index: 1000;
}
.header .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 8%;
  transition: all 0.2s linear;
  /* Logo - 'Ukiyo' */
  /* Navigation Menu */
}
.header .main-header .logo {
  font-family: "Gabriela", serif;
  font-size: 2.8rem;
  font-weight: bolder;
  color: #a0accf;
  transition: all 0.2s linear;
}
.header .main-header .menu-icons div {
  font-size: 2.3rem;
  margin-left: 1.5rem;
  color: #a0accf;
  cursor: pointer;
  transition: all 0.2s linear;
}
.header .main-header .menu-icons div:hover {
  color: #6784b9;
}
.header .main-header .menu-icons a {
  font-size: 2.3rem;
  margin-left: 1.5rem;
  color: #a0accf;
  cursor: pointer;
  transition: all 0.2s linear;
}
.header .main-header .menu-icons a:hover {
  color: #6784b9;
}
.header .main-header .menubar .starred {
  display: none;
}
.header .main-header .menubar .library {
  display: none;
}
.header .menubar a {
  font-family: "Montserrat", sans-serif;
  color: #444;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.5rem;
  transition: all 0.2s linear;
}
.header .menubar a:hover {
  color: #738bd3;
  font-weight: bold;
}

/* Hamburger Initial Hide */
#mobile-menu-icon {
  display: none;
  cursor: pointer;
}

/* Hamburger Menu Display */
.menubar.mobile {
  position: absolute;
  background-color: #E9EFFE;
  color: #444;
  top: 6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s;
  z-index: 2;
}

section {
  font-family: "Montserrat", sans-serif;
  padding: 3rem 8%;
}

/* HEADER-WEBSITE CONTENT START */
.content-start {
  transition: all 0.2s linear;
  position: relative;
  z-index: 1;
}
.content-start .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  transition: all 0.2s linear;
  /* Header Description */
  /* Bookshelf Dispay & Image Hover Effect */
}
.content-start .row .content-desc {
  flex: 1 1 42rem;
  transition: all 0.2s linear;
}
.content-start .row .content-desc h3 {
  color: #7685a5;
  font-size: 6.7rem;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
}
.content-start .row .content-desc p {
  color: #273d4b;
  font-size: 1.8rem;
  line-height: 2;
  padding: 1rem 0;
}
.content-start .row .books-list {
  flex: 1 1 42rem;
  margin-top: 3rem;
  text-align: center;
}
.content-start .row .books-list a img {
  height: 23rem;
  filter: drop-shadow(-3px 0px 4px rgba(75, 75, 75, 0.662745098));
  transition: all 0.2s linear;
}
.content-start .row .books-list a:hover img {
  transform: scale(0.9);
}
.content-start .row .books-list .stand {
  width: 100%;
  margin-top: -0.1rem;
}

.leaf {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaf img {
  width: 19rem;
}

/* ACCOUNT LOGIN FORM (Sub Window) */
.account-login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(160, 172, 207, 0.9);
  position: fixed;
  top: 0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  /* User Entry Field */
  /* Close Window Button */
}
.account-login-form form {
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  width: 40rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 2rem;
  /* 'Remember Me' Checkbox */
}
.account-login-form form h3 {
  font-size: 2.7rem;
  text-align: center;
  text-transform: uppercase;
  color: #617bbb;
  font-family: "Gabriela", serif;
}
.account-login-form form span {
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.account-login-form form .check-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.account-login-form form .check-box label {
  font-size: 1.5rem;
  color: #444;
  cursor: pointer;
}
.account-login-form form .btn {
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}
.account-login-form form p {
  padding-top: 0.8rem;
  color: #666;
  font-size: 1.5rem;
}
.account-login-form form p a {
  font-weight: bold;
  font-style: italic;
  color: #6c88d8;
}
.account-login-form .box {
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: #444;
  text-transform: none;
}
.account-login-form::-moz-placeholder {
  color: #d9d9d9;
}
.account-login-form::placeholder {
  color: #d9d9d9;
}
.account-login-form #close-login-btn {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 5rem;
  cursor: pointer;
  color: #444;
}

.account-login-form.active {
  right: 0;
  transition: all 0.2s linear;
}

/* Buttons */
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  color: #fff;
  border-radius: 0.5rem;
  background: #7289b0;
  border: 1px solid #7289b0;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}
.btn:hover {
  background-color: #6784b9;
}

/* NEW RELEASE TRANSITION */
.threeD {
  width: 100%;
  height: 30vh;
  display: grid;
  place-items: center;
  place-content: center;
  position: relative;
  margin-top: none;
  /* Transition Heading */
}
.threeD h2 {
  width: 100%;
  font-size: 14em;
  font-weight: bold;
  margin-top: 50px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #617bbb;
  font-family: "Gabriela", serif;
}
.threeD span {
  display: inline-block;
}

/* Transition Text */
.skewsec {
  transform: skew(15deg) rotate(6deg);
  font-family: "Montserrat", sans-serif;
}
.skewsec span {
  display: inline-block;
  background: #d4c194;
  padding: 13px 100px;
  font-size: 3.5em;
  border-radius: 0.5rem;
  color: #fff;
}
.skewsec span:last-child {
  transform: skew(-15deg) rotate(-2deg);
  margin-top: 24vh;
}

/* NEW RELEASES CONTENT  */
.new-releases-slider .nr-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  transition: all 0.2s linear;
}
.new-releases-slider .m-top {
  margin-top: 15rem;
}

.new-releases .new-releases-slider .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0.5rem;
  background: #f2f1f6;
  margin: 1rem 0;
  transition: all 0.2s linear;
}
.new-releases .new-releases-slider .box:hover {
  transform: scale(0.9);
}
.new-releases .new-releases-slider .box .image img {
  height: 17rem;
}
.new-releases .new-releases-slider .box .content h3 {
  font-size: 2.3rem;
  color: #73819a;
  font-family: "Gabriela", serif;
}
.new-releases .new-releases-slider .box .content h3 span {
  font-size: 1.7rem;
  font-style: italic;
}
.new-releases .new-releases-slider .box .content .author {
  font-size: 1.9rem;
  color: #444;
  padding-bottom: 0.5rem;
}
.new-releases .new-releases-slider .box .content .rating {
  color: #d4c194;
  font-size: 1.5rem;
}

/* BOOK SHOWCASE */
.book-showcase {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  background-color: #f1ead0;
  padding: 0 90px;
  position: fixed;
  overflow: auto;
  top: 0;
  right: -105%;
  z-index: 10000;
  height: 100%;
  width: 100%;
  transition: all 0.2s linear;
}
.book-showcase .close-showcase-btn {
  position: absolute;
  top: 1.5rem;
  right: 2.2rem;
  font-size: 5rem;
  cursor: pointer;
}

/* Blur Element behind Book 3D */
.blur {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  width: 500px;
  height: 500px;
}

.blur1 {
  background-color: #e4d770;
}

.blur2 {
  background-color: #d8aa56;
}

.blur3 {
  background-color: #c6b680;
}

.blur4 {
  background-color: #9fd1e2;
}

.blur5 {
  background-color: #c2b299;
}

.blur6 {
  background-color: #d0a25c;
}

.book-showcase.active {
  right: 0;
}

/* Book Information */
.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
}

.info-genre {
  text-transform: uppercase;
  font-size: 16px;
  color: #444;
  letter-spacing: 4px;
  font-weight: 600;
}

.info-title {
  font-size: 70px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 1em;
  font-family: "Gabriela", serif;
}

.t2 {
  color: #1a0d05;
}

.t3 {
  color: #1a0d05;
}

.t4 {
  color: #1a0d05;
}

.t5 {
  color: #1a0d05;
}

.t6 {
  color: #1a0d05;
}

.info-author {
  font-weight: 400;
  font-size: 32px;
  margin-top: 2px;
  margin-bottom: 10px;
}

.info-rating {
  color: #a37c55;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.info-synopsis {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
}

/* Download & Audiobook Buttons */
.button-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.button-wrapper .swiper-button {
  border: 1px solid #2c2d2a;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #2c2d2a 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.button-wrapper .swiper-button + .swiper-button {
  margin-left: 16px;
}
.button-wrapper .swiper-button i {
  font-size: 1.8em;
}
.button-wrapper .swiper-button:hover {
  background-color: #2c2d2a;
  background-position: left bottom;
}
.button-wrapper .swiper-button:hover i {
  color: #fff;
}
.button-wrapper .swiper-prev-button {
  background: linear-gradient(to left, #2c2d2a, 40%, transparent 0%);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
}
.button-wrapper .swiper-prev-button:hover {
  background-position: right bottom;
}

/* Book Image Showcase */
.book3d-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-container {
  perspective: 1000px;
}

.book-parts {
  transform-style: preserve-3d;
  width: 27.0625em;
  height: 40.5em;
  transform-origin: 13.53125em 4.375em;
  position: relative;
}
.book-parts > div {
  position: absolute;
  height: 40.5em;
}
.book-parts .shadow {
  width: 27.0625em;
  height: 4.375em;
  background: radial-gradient(rgba(0, 0, 0, 0.4), transparent);
  transform: rotateX(90deg) translate3d(0, 2.1875em, -38em);
  transform-origin: bottom;
}

/* Image for the book's parts (Front/Back/Side) in 3D space */
/* Book 1: Yellowface */
.front-yf {
  width: 27.0625em;
  background: url(/Images/book-showcase/book1-Yellowface/front.jpg);
  transform: translate3d(0, 0, 2.1875em);
}

.back-yf {
  width: 27.0625em;
  background: url(/Images/book-showcase/book1-Yellowface/back.jpg);
  transform: rotateY(180deg) translate3d(0, 0, 2.1875em);
}

.side-yf {
  width: 4.375em;
  transform: rotateY(-90deg) translate3d(0, 0, 2.1875em);
  background: url(/Images/book-showcase/book1-Yellowface/spine.png);
}

/* Book 2: Fourth Wing */
.front-fw {
  width: 27.0625em;
  background: url(/Images/book-showcase/book2-Fourth-Wing/front.jpg);
  transform: translate3d(0, 0, 2.1875em);
}

.back-fw {
  width: 27.0625em;
  background: url(/Images/book-showcase/book2-Fourth-Wing/back.jpg);
  transform: rotateY(180deg) translate3d(0, 0, 2.1875em);
}

.side-fw {
  width: 4.375em;
  transform: rotateY(-90deg) translate3d(0, 0, 2.1875em);
  background: url(/Images/book-showcase/book2-Fourth-Wing/spine.png);
}

/* Book 3: The Stolen Heir */
.front-sh {
  width: 27.0625em;
  background: url(/Images/book-showcase/book3-Stolen-Heir/front.jpg);
  transform: translate3d(0, 0, 2.1875em);
}

.back-sh {
  width: 27.0625em;
  background: url(/Images/book-showcase/book3-Stolen-Heir/back.jpg);
  transform: rotateY(180deg) translate3d(0, 0, 2.1875em);
}

.side-sh {
  width: 4.375em;
  transform: rotateY(-90deg) translate3d(0, 0, 2.1875em);
  background: url(/Images/book-showcase/book3-Stolen-Heir/spine.png);
}

/* Book 4: Ikigai */
.front-ikigai {
  width: 27.0625em;
  background: url(/Images/book-showcase/book4-Ikigai/front.jpg);
  transform: translate3d(0, 0, 2.1875em);
}

.back-ikigai {
  width: 27.0625em;
  background: url(/Images/book-showcase/book4-Ikigai/back.jpg);
  transform: rotateY(180deg) translate3d(0, 0, 2.1875em);
}

.side-ikigai {
  width: 4.375em;
  transform: rotateY(-90deg) translate3d(0, 0, 2.1875em);
  background: url(/Images/book-showcase/book4-Ikigai/spine.png);
}

/* Book 5: Little Women */
.front-lw {
  width: 27.0625em;
  background: url(/Images/book-showcase/book5-Little-Women/front.jpg);
  transform: translate3d(0, 0, 2.1875em);
}

.back-lw {
  width: 27.0625em;
  background: url(/Images/book-showcase/book5-Little-Women/back.jpg);
  transform: rotateY(180deg) translate3d(0, 0, 2.1875em);
}

.side-lw {
  width: 4.375em;
  transform: rotateY(-90deg) translate3d(0, 0, 2.1875em);
  background: url(/Images/book-showcase/book5-Little-Women/spine.png);
}

/* Book 6: Song of Achilles */
.front-soa {
  width: 27.0625em;
  background: url(/Images/book-showcase/book6-SOA/front.jpg);
  transform: translate3d(0, 0, 2.1875em);
}

.back-soa {
  width: 27.0625em;
  background: url(/Images/book-showcase/book6-SOA/back.jpg);
  transform: rotateY(180deg) translate3d(0, 0, 2.1875em);
}

.side-soa {
  width: 4.375em;
  transform: rotateY(-90deg) translate3d(0, 0, 2.1875em);
  background: url(/Images/book-showcase/book6-SOA/spine.png);
}

/* Pages */
.pages {
  width: 4.375em;
  background: url(/Images/book-showcase/page.jpg);
  transform: rotateY(90deg) translate3d(0, 0, 24.9em);
  transform-origin: bottom;
  background-size: cover;
  pointer-events: none;
}

.front {
  background-size: cover;
  pointer-events: none;
}

.back {
  background-size: cover;
  pointer-events: none;
}

.side {
  background-size: cover;
  pointer-events: none;
}

/* Resize the whole 3D by changing the font size of this element */
.showcase {
  font-size: 11px;
}

/* MARQUEE TRANSITION */
.quote-one {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #f2f2f4;
}

.quote-container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.quote-container h1 {
  font-size: 20px;
  -webkit-text-fill-color: #73819a;
  white-space: nowrap;
  padding: 0.9rem 6rem;
  letter-spacing: 1px;
  font-family: "Gabriela", serif;
}

.one-direction {
  animation: move-rtl 20s linear infinite;
}

/* Preview Content */
.preview {
  background-image: linear-gradient(15deg, #f8f8f8, #879ec5);
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.preview .content {
  justify-content: center;
  align-items: center;
}
.preview .content h3 {
  color: #a37c55;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}
.preview .content h1 {
  font-family: "Gabriela", serif;
  color: #7289b0;
  font-size: 3.4rem;
  font-style: italic;
}
.preview .content p {
  padding: 1rem 0;
  color: #666;
  font-size: 1.8rem;
  line-height: 2;
}
.preview .image img {
  width: 50em;
}

.divider {
  margin-bottom: 1rem;
  margin-top: 0;
}
.divider img {
  width: 11rem;
  transform: rotate(-180deg);
}

/* UPCOMING EVENTS TRANSITION */
.threeD1 {
  width: 100%;
  height: 60vh;
  display: grid;
  place-items: center;
  place-content: center;
  position: relative;
  margin-top: 2rem;
}
.threeD1 h2 {
  width: 100%;
  font-size: 14em;
  font-weight: bold;
  margin-top: 50px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #617bbb;
  font-family: "Gabriela", serif;
}
.threeD1 span {
  display: inline-block;
}

.skewsec1 {
  transform: skew(15deg) rotate(-0.5deg);
  font-family: "Montserrat", sans-serif;
}
.skewsec1 span {
  display: inline-block;
  background: #d4c194;
  padding: 13px 100px;
  font-size: 3em;
  border-radius: 0.5rem;
  color: #fff;
}
.skewsec1 span:last-child {
  transform: skew(-15deg) rotate(-0.5deg);
  margin-top: 30vh;
}

/* UPCOMING EVENTS CONTENT */
.events {
  margin-top: 6rem;
}
.events .events-slider .box {
  margin: 2rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
}
.events .events-slider .box:hover {
  border: 0.1rem solid #444;
}
.events .events-slider .box:hover .image img {
  transform: scale(1.1);
}
.events .events-slider .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}
.events .events-slider .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events .events-slider .box .content {
  padding: 1.5rem;
}
.events .events-slider .box .content h3 {
  font-size: 2.2rem;
  color: #444;
}
.events .events-slider .box .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.event-date {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 0.8rem;
  color: #fff;
  border-radius: 0.5rem;
  background: #617bbb;
  font-size: 1.3rem;
  font-weight: 500;
}

/* FOOTER */
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #f8f8f8;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #6c88d8;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Gabriela", serif;
  line-height: 3rem;
}
.footer-content p {
  font-family: "Montserrat", sans-serif;
  max-width: 600px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 15px;
}

/* Social Media Icons */
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #6c88d8;
}
.socials a i {
  font-size: 2rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #d4c194;
}

.footer-bottom {
  background: #879ec5;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 15px;
  word-spacing: 2px;
}
.footer-bottom span {
  font-style: italic;
}

/* LOADING SCREEN */
.loading-screen {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a0accf;
  color: #fff;
  z-index: 9999;
  pointer-events: none;
}

.counter {
  position: fixed;
  left: 50px;
  bottom: 50px;
  display: flex;
  height: 100px;
  font-size: 80px;
  line-height: 102px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
          clip-path: polygon(0 0, 100% 0, 100% 100px, 0 100px);
  font-weight: 400;
}

.counter-1 {
  position: relative;
  top: -15px;
}

.counter-2 {
  position: relative;
  top: -15px;
}

.counter-3 {
  position: relative;
  top: -15px;
}

.num1offset1 {
  position: relative;
  right: -3px;
}

.num1offset2 {
  position: relative;
  right: -10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 40px;
  transform: translate(-50%, -50%);
  display: flex;
  background: #e8e9ed;
}

.loader-1 {
  position: relative;
  background: #fff;
  width: 140px;
}

.loader-2 {
  position: relative;
  width: 110px;
  background: #fff;
}

.bar {
  height: 40px;
}

/* MEDIA QUERIES */
/* HAMBURGER MENU BAR */
@media (max-width: 768px) {
  .header .main-header {
    padding: 2rem;
    text-align: center;
  }
  .header .main-header .menubar .starred {
    display: block;
  }
  .header .main-header .menubar .library {
    display: block;
  }
  .header .menubar a {
    padding: 1.5rem 2rem;
    display: block;
    text-align: center;
    border-bottom: 1px solid #e1e5ee;
    width: 100%;
  }
  #mobile-menu-icon {
    display: inline-block;
  }
  .menubar {
    display: none;
  }
  .menu-icons .icon-1 {
    display: none;
  }
  .menu-icons .icon-2 {
    display: none;
  }
  .menubar.mobile {
    display: flex;
  }
  .content-start .row {
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .new-releases-slider .nr-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .new-releases .new-releases-slider .box {
    flex-direction: column;
    text-align: center;
    padding: 2rem 2.5rem;
  }
}
/* Styles for devices with viewport widths of over 1440px */
@media (min-width: 1440px) {
  html {
    font-size: 70%;
  }
}
/* Styles for devices with viewport widths of 1232px and under */
@media (max-width: 1232px) {
  .content-start .row .books-list {
    flex: 1 1 45rem;
  }
}
/* Styles for devices with viewport widths of 376px and under */
@media (max-width: 376px) {
  .content-start .row .content-desc h3 {
    font-size: 6rem;
  }
}
/* Styles for devices with viewport widths of 411px and under */
@media (max-width: 411px) {
  .account-login-form #close-login-btn {
    font-size: 4rem;
  }
  .threeD h2 {
    margin-top: 62px;
    font-size: 90em;
  }
  .skewsec span {
    padding: 13px 20px;
    font-size: 2.2em;
  }
  .preview .content h1 {
    font-size: 3rem;
  }
  .preview .image img {
    width: 30em;
  }
}
/* Styles for devices with viewport widths of 1440px and under */
@media (max-width: 1440px) {
  .skewsec span:last-child {
    margin-top: 25vh;
  }
  .skewsec1 span:last-child {
    margin-top: 25vh;
  }
}
/* Styles for devices with viewport widths of over 731px up to 956px */
@media (max-width: 956px) and (min-width: 731px) {
  .skewsec span {
    padding: 13px 30px;
    font-size: 2.5em;
  }
  .skewsec span:last-child {
    margin-top: 14vh;
  }
  .threeD h2 {
    margin-top: 62px;
    font-size: 12em;
  }
  .threeD1 {
    height: 32vh;
  }
  .threeD1 h2 {
    margin-top: 62px;
    font-size: 9em;
  }
  .skewsec1 span {
    padding: 13px 30px;
    font-size: 2.5em;
  }
  .skewsec1 span:last-child {
    margin-top: 14vh;
  }
}
/* Styles for devices with viewport widths of over 412px up to 730px */
@media (max-width: 730px) and (min-width: 412px) {
  .threeD h2 {
    margin-top: 62px;
    font-size: 9em;
  }
  .skewsec span {
    padding: 13px 30px;
    font-size: 2.5em;
  }
  .threeD1 {
    height: 32vh;
  }
  .threeD1 h2 {
    margin-top: 62px;
    font-size: 8em;
  }
  .skewsec1 span {
    padding: 13px 30px;
    font-size: 2.5em;
  }
}
/* Styles for devices with viewport widths of over 375px up to 579px */
@media (max-width: 579px) and (min-width: 375px) {
  .threeD h2 {
    font-size: 10em;
    margin-bottom: 0px;
  }
  .skewsec span {
    font-size: 1.7em;
    padding: 13px 30px;
    text-align: center;
  }
}
/* Styles for devices with viewport widths of over 320px up to 375px */
@media (max-width: 375px) and (min-width: 320px) {
  .threeD h2 {
    font-size: 8em;
    margin-bottom: 0px;
  }
  .skewsec span {
    font-size: 1.7em;
    padding: 13px 30px;
    text-align: center;
  }
}
@media (max-width: 319px) {
  .threeD h2 {
    font-size: 7em;
    margin-bottom: 0px;
  }
  .skewsec span {
    font-size: 1.6em;
    padding: 13px 30px;
    text-align: center;
  }
}
/* Styles for devices with viewport widths of over 320px up to 412px */
@media (max-width: 412px) and (min-width: 320px) {
  .threeD h2 {
    font-size: 6em;
    margin-top: 20px;
  }
  .skewsec span {
    font-size: 1.3em;
  }
  .skewsec span:last-child {
    margin-top: 9vh;
  }
  .threeD1 {
    height: 28vh;
  }
  .threeD1 h2 {
    margin-top: 20px;
    font-size: 4.2em;
  }
  .skewsec1 span {
    padding: 13px 30px;
    font-size: 1.2em;
  }
  .skewsec1 span:last-child {
    margin-top: 8vh;
  }
  .new-releases-slider .m-top {
    margin-top: 4rem;
  }
}
/* Styles for devices with viewport widths of 320px or under */
@media (max-width: 320px) {
  .threeD h2 {
    font-size: 5em;
  }
  .skewsec span {
    font-size: 1.1em;
  }
  .skewsec span:last-child {
    margin-top: 12vh;
  }
  .threeD1 h2 {
    font-size: 3.5em;
  }
  .skewsec1 span {
    font-size: 1em;
  }
  .skewsec1 span:last-child {
    margin-top: 10vh;
  }
}
/* Styles for devices with viewport widths of 500px or under */
@media (max-width: 500px) {
  .new-releases-slider .nr-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}
/* Styles for devices with viewport widths of 1195px or under */
@media (max-width: 1195px) {
  .new-releases .new-releases-slider .box {
    flex-direction: column;
    text-align: center;
    padding: 2rem 2.9rem;
  }
}
/* Styles for devices with viewport widths of over 412px up to 986px */
@media (max-width: 986px) and (min-width: 413px) {
  .book-showcase {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 90px 90px;
    row-gap: 30px;
  }
  .showcase {
    font-size: 16px;
  }
  .left-side {
    max-width: 600px;
  }
}
/* Styles for devices with viewport widths of over 376px up to 412px */
@media (max-width: 412px) and (min-width: 376px) {
  .book-showcase {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 90px 90px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .showcase {
    font-size: 11px;
  }
  .left-side {
    max-width: 300px;
  }
}
/* Styles for devices with viewport widths of 376px or under */
@media screen and (max-width: 376px) {
  .book-showcase {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 90px 90px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .left-side {
    max-width: 250px;
  }
}
/* Styles for devices with viewport widths of 378px or under */
@media (max-width: 378px) {
  .info-genre {
    font-size: 14px;
  }
  .info-title {
    font-size: 45px;
  }
  .info-author {
    font-size: 20px;
  }
  .info-synopsis {
    font-size: 1.4rem;
  }
  .showcase {
    font-size: 9px;
  }
  .book-showcase .close-showcase-btn {
    right: -0.2rem;
    font-size: 3rem;
  }
}
/* Styles for devices with viewport widths of 1025px or under */
@media (max-width: 1025px) {
  .preview .image img {
    width: 45em;
  }
}
/* Styles for devices with viewport widths of 960px or under */
@media (max-width: 960px) {
  .preview .image img {
    width: 40em;
  }
}
/* Styles for devices with viewport widths of 869px or under */
@media (max-width: 869px) {
  .preview {
    flex-direction: column;
    justify-content: center;
    gap: 0rem;
  }
  .preview .content {
    text-align: center;
  }
}
/* Styles for devices with viewport widths of 412px or under */
@media (max-width: 412px) {
  .footer-content {
    padding: 1em;
  }
  .footer-content p {
    font-size: 13px;
  }
  .footer-bottom {
    padding: 1em;
  }
  .footer-bottom p {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */